@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;

  --accent-color: #AAFF00;
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: #ccc;
}
body {
  font-family: Orbitron, sans-serif;
  background-color: #f0f0f3;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  /* background-color: #f0f0f3; */
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  /* box-shadow: inset 7px 7px 14px #bebebe, inset -7px -7px 14px #ffffff; */
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 10rem;
  /* aspect-ratio: 1/1; */
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li {
  margin: 0;
}

header nav ul li a {
  font-size: 1rem;
  color: var(--secondary-color);
  text-decoration: none;
  padding: 10px 20px;
  /* transition: all 0.3s ease; */
}

header nav ul li a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 0.5rem;
}
