body{
  background-color: rgb(234, 234, 234);
}

.color-green{
 color: #aaff00;
}

.bg-color-green{
  background-color: #aaff00;
}


.border-color-green{
  border-color: #aaff00
}

.border-color-green:hover{
  border-color: #aaff00
}